
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:ital,wght@1,700&display=swap');
/*
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fredoka+One&family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fredoka+One&family=Josefin+Sans:ital,wght@1,700&family=Rozha+One&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@900&family=Rozha+One&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100&family=Rozha+One&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');





html{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  /*background: #000;*/
  /*cursor: grabbing;*/
  overflow: hidden;

}
/*.jumbotron{
  font-family: nosifer;

}

.container{
  margin:0;
  padding: 0;
  height: auto;
  width: auto;
  background: #000;
  color: #fff;
}*/


#home{
/*display: none;*/
  /*background:#000;*/
  position: absolute;
  transform: translate(-50%;-50%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: fill;
  z-index: 1;
  overflow: hidden;
  /*background: transparent;*/
}

#canvasteq{
  /*display: none;*/
}

.test{
  /*visibility: hidden;*/
  position: absolute;
transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
  background: top;
  width: 80px;
  height: 80px;
  z-index: 1;
  /*border: 2px solid #fff;*/
}
.hidden{
  display: none;
}

#logo{
  position: absolute;
  margin-top: -5%;

}

#logo1{
  position: absolute;
  margin-top: -5%;
 /* display: none;*/
}

.topbar{
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 60px;
  z-index: 3;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
    display: none;
}



.middlebar{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 45%;
  left: 50%;
  width: 100%;
  height: 60px;
  z-index: 3;
  background: transparent;
}


.scroll{
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
  float: right;
  cursor: pointer;
  display: none;
}


.topset{
  position: absolute;
  top: 40px;
  width:90%;
  margin-left: 5%;
  height: 60px;
  background: transparent;
  /*display: none;*/

}

.brand{
  position: absolute;
  top: 0;
  right: 0px;
  width: 200px;
  height: 60px;
  background: transparent;
  /*border-bottom: 2px solid #000;*/

  /*margin-top: 3px;*/
  /*float: right;*/
}


#optimization{

  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: -moz-linear-gradient(0deg, #000000,#262626, #fff, #ffffff);
  align-items: center;
  justify-content: center;
  /*margin-top: 10px;*/
  border-radius: 50%;
  cursor: pointer;
  border: 2px groove #000;
  transition: 1s;
}
#powered{
 text-align: left;
  color: #424242;
  font-size: 1.4em;
  line-height: 65px;
  font-family: cursive;
  /*border-bottom: 2px solid #000;*/
  /*text-decoration: underline;*/
  font-weight: bolder;
  /*float: left;*/
}

.navBottom{
  position: absolute;
  bottom: 0;
  width:90%;
  margin-left: 5%;
  height: 60px;
  background: transparent;
  /*display: none;*/

}
.copyright{
  text-align: center;
  color: #424242;
  font-size: 1.1em;
  line-height: 60px;
  float: right;
  padding-right: 15px;
  font-weight: bold;
}



#about{
  /*display: none;*/
  background-position: fill;
  position: absolute;
  transform: translate(-50%;-50%);
  top: 0;
  left:100%;
  width: 100%;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll;
  background: -moz-linear-gradient(left,transparent, #ffffff, #ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff);
  /*background: #fff;*/
  /*box-shadow: -12px 12px 12px #ebebeb;*/
  box-shadow: -12px -12px 12px #cccccc;


}

.abtxt{
  position: absolute;
  transform:translate(-50%,-50%);
  left: 0%;
  top: 40%;
  width: 50%;
  height: auto;
  /*background: #0ff;*/
  z-index: 3;
  display: none;

}

.abtxt h1{
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 6em;
    text-align: center;
font-family:nosifer;

  /*line-height: 100px;*/
    justify-content: center;
    color: #000;
}
.abtxt p{
    /*margin-top:-2%;*/
    margin-left: 10%;
    position: relative;
    font-size: 1.9em;
    text-align: center;
    font-family:Architects Daughter;
    color: #000;
    font-weight: bold;
}

.codec{
  position: absolute;
  /*top: calc(20% + 75px);*/
  top: 0%;
  left: 10%;
  width: 90%;
  /*margin: 0;*/
  /*height: calc(80% - 75px);*/
  height: 90%;
  /*background:#0ff;*/
  /*border-right: 2px solid #000;*/
    color: #000;

}





.codectxt{
  position: absolute;
  /*top: calc(20% + 75px);*/
  top: 15%;
  left: -10%;
  width: 50%;
  /*margin: 0;*/
  /*height: calc(80% - 75px);*/
  height: 60%;
  /*background:#f00;*/
  /*border-right: 2px solid #000;*/
  /*display: none;*/
  z-index: 1;
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Black Ops One', cursive;*/
    /*font-family: 'Rozha One', serif;*/
    font-family: 'Lexend Mega', sans-serif;
  font-size: 6em;
  font-weight: bolder;
  /*opacity: .5;*/
  display: none;
}



.codectxt1{
  position: relative;
  /*transform: translate(-50%,-50%);*/
  /*top: calc(20% + 75px);*/
  margin-top: 5%;
  margin-left: 0%;
  width: 100%;
  /*margin: 0;*/
  /*height: calc(80% - 75px);*/
  height: auto;
  /*background:#000;*/
  /*border-right: 2px solid #000;*/
  /*display: none;*/
  text-align: right;
  /*z-index: 2;*/
}
.codectxt2{
  position: relative;
  margin-top: 0%;
  margin-left: 50%;
  width: 100%;
  height: auto;
  text-align: center;
  /*color: #fff;*/

  /*background:#f00;*/
  /*text-align: center;*/
  


}
.codectxt3{
  position: relative;
  margin-top: 0%;
  margin-left: 0%;
  width: 100%;
  height: auto;
  text-align: right;

  /*background:#0f0;*/
 

}

.image{
  position: absolute;
  /*transform: translate(-50%,-50%);*/
  height: 60%;
  width: 50%;
  left: 40%;
  top: 15%;
  /*margin: 0;*/
  background-image: url("20.png");
  /*background: #000;*/
  overflow:hidden;
  /*float: right;*/
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: inherit;
}

.description{
  position: absolute;
  /*top: calc(20% + 75px);*/
  top: 80%;
  left: 25%;
  width: 50%;
  /*margin: 0;*/
  /*height: calc(80% - 75px);*/
  height: 100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
  /*z-index: 3;*/
  /*font-weight: 100;*/
  /*color: #fff;*/
  text-align: right;
  /*opacity: .5;*/
  display: none;
}

.categories{
  position: absolute;
  /*top: calc(20% + 75px);*/
  top: calc(70% + 100px);
  right:0%;
  width: 200%;
  /*margin: 0;*/
  /*height: calc(80% - 75px);*/
  height: 700px;
  /*background:#f00;*/
  /*border-right: 2px solid #000;*/
  /*display: none;*/
  /*z-index: 2;*/
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Black Ops One', cursive;*/
    /*font-family: 'Rozha One', serif;*/
    font-family: 'Lexend Mega', sans-serif;
  font-size: 1.2em;
  /*z-index: 3;*/
  font-weight: bold;
  /*color: #fff;*/
  text-align: right;
  /*opacity: .5;*/
  display: none;
}
.categories1{
  position: absolute;
  top: 0;
  right:35%;
  width:500px;
  height: 300px;
  /*background:#0f0;*/
  background-image: url("02.png");
  /*background: #000;*/
  overflow:hidden;
  /*float: right;*/
  background-attachment: inherit;
  background-position:left;
  background-repeat: no-repeat;
  background-size: cover;
}

